<?xml version="1.0" encoding="UTF-8"?>

<!--
| settings file for spotweb
| see: https://github.com/spotweb/spotweb
-->

<settings>
	<version>0.3a</version>

	<!--
	| NNTP settings
	-->
	<nntp_nzb>
		<host>news.ziggo.nl</host>
		<user>xx</user>
		<pass>yy</pass>
		<etc>false</etc>
		<port>119</port>
	</nntp_nzb>

	<!--
	| Filter settings TO-DO: implement
	
	<filters>
		<filter>
			<name>Films (geen erotiek)</name>
			<image>images/video2.png</image>
			<types>cat0_d,!cat0_d11,!cat0_d23,!cat0_d24,!cat0_d25,!cat0_d26,!cat0_a5</types>
		</filter>
	</filters>
	-->

	<!--
	| SQLite3 DB
	-->
	<db>
		<engine>sqlite3</engine>
		<path>./nntpdb.sqlite3</path>
	</db>
	
	<!--
	| MySQL DB
	|
	|<db>
	|	<engine>mysql</engine>
	|	<host>localhost</host>
	|	<dbname>spotweb</dbname>
	|	<user>spotweb</user>
	|	<pass>spotwebpass</pass>
	|</db>
	-->

	<!--
	| SABnzbd+ settings
	-->
	<sabnzbd>
		<host>192.168.10.122:8081</host>
		<apikey></apikey>
		<spotweburl>http://server/spotweb/</spotweburl>
	</sabnzbd>

	<!--
        | Blackhole settings
        -->
        <nzb_download_local>false</nzb_download_local>
        <nzb_local_queue_dir>/path/to/dir</nzb_local_queue_dir>

	<!--
	| Other settings
	-->
	
	<tpl_path>./templates</tpl_path>
        <show_updatebutton>false</show_updatebutton>
        <show_nzbbutton>true</show_nzbbutton>
	<hide_porn>false</hide_porn>
	<search_url>http://www.binsearch.info/?adv_age=&amp;q=$SPOTFNAME</search_url>

</settings>
